[submodule "dependencies/commons"]
	path = dependencies/commons
	url = https://github.com/FLIHABI/Commons.git
[submodule "dependencies/network"]
	path = dependencies/network
	url = https://github.com/FLIHABI/network
[submodule "dependencies/DynGOT"]
	path = dependencies/DynGOT
	url = https://github.com/Neodyblue/DynGOT
